﻿@model ProductsListViewModel

@{
    var route = this.Model.CurrentCategory is null ? "pagination" : "categoryPage";
}

@foreach (var p in Model?.Products ?? Enumerable.Empty<Product>())
{
    <partial name="_ProductSummary" model="p" />
}

<div page-model="@Model?.PagingInfo" page-classes-enabled="true" page-route=@route
      page-class="btn" page-class-normal="btn-outline-dark"
      page-class-selected="btn-primary" page-url-category="@Model?.CurrentCategory!"
      class="btn-group pull-right m-1">
</div>
